<h2 class="style">Alunos</h2>
<table id="table" class="ui  very basic selectable striped  sortable celled table style">
    <thead>
      <tr>
        <th>NOME</th>
        <th>STATUS</th>
        <th>MENSALIDADE</th>
        <th>AÇÕES</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let s of students.alunos">
          <td>  {{ s.aluno.nome }}    </td>
          <td>  {{ s.aluno.status }}  </td>
          <td>  {{ s.mensalidade.status }}  </td>
          <td *ngIf="s.mensalidade.status == 'Débito'"> <i class="red big money icon"></i> </td>
          <td *ngIf="s.mensalidade.status == 'A vencer'"> <i class="yelow big money icon"></i></td>
          <td *ngIf="s.mensalidade.status == 'Pago'"> <i class="green big check circle icon"></i></td>
      </tr>
    </tbody>
</table>




 