<form class="form">
    <mat-form-field class="style">
      <input matInput placeholder="Alunos" aria-label="Alunos" [matAutocomplete]="auto" [formControl]="stateCtrl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
          <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
          <span>{{ state.name }}</span> |
          <small>Population: {{state.population}}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>